   {% extends 'base.html' %} 
   {% load static %}

{% block content %}
<!-- main -->

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0">Student Profile</p>
              </div>
            </div>
            <div class="card-body">
              <p class="text-uppercase text-sm">User Information</p>
              <!-- <form role="form" action="/student" method="POST"> -->
              <form role="form" method="POST" action="{% url 'studentform' %}">

                {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Firstname</label>
                    <input class="form-control" type="text" value="John" name="firstname">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Lastname</label>
                    <input class="form-control" type="text" value="Doe" name="lastname">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Email address</label>
                    <input class="form-control" type="email" value="johndoe@example.com" name="email">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">ADM NO.</label>
                    <input class="form-control" type="int" value="00000.." name="adm_no">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">GRADE</label>
                    <input class="form-control" type="text" value="Lucky" name="grade">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">STATUS</label>
                    <input class="form-control" type="text" value="active/inactive" name="status">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">DATE</label>
                    <input class="form-control" type="date" value="DATE" name="date">
                  </div>
                </div>
                <div class="text-center">
                      
                  <button type="submit" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0" >SUBMIT</button>
                </div>
              </div>
              </form>
              {% endblock %}
