{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="card">
            <div class="card-header">
                <h6>Students List</h6>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Adm No.</th>
                            <th>Grade</th>
                            <th>Status</th>
                            <th>Date</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                            <tr>
                                <td>{{ student.firstname }}</td>
                                <td>{{ student.lastname }}</td>
                                <td>{{ student.email }}</td>
                                <td>{{ student.adm_no }}</td>
                                <td>{{ student.grade }}</td>
                                <td>{{ student.status }}</td>
                                <td>{{ student.date_joined }}</td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
